!Urxvt -----------------------------------------------------------------------
URxvt.font: xft:Source Code Pro:size=10,xft:DejaVu Sans Mono:size=10

URxvt.urgentOnBell: true
URxvt.scrollBar: false
URxvt.internalBorder: 1
URxvt.foreground: #eeeeee
URxvt.background: #1d1f21
URxvt.depth: 32
URxvt*colorIT: #ffffff

URxvt.perl-ext-common: default,clipboard,url-select

URxvt.keysym.M-u: perl:url-select:select_next
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.url-select.launcher: chromium
URxvt.url-select.underline: true

URxvt.copyCommand:  xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste

!- disable Ctrl-Shift warning
URxvt.iso14755: False

!- XFT font config
Xft.lcdfilter: lcddefault
Xft.antialias: true
Xft.autohint: 0
Xft.hinting: true
Xft.hintstyle: hintfull
Xft.rgba: rgb
Xft.dpi: 96
