URxvt.font: xft:Source Code Pro:size=10,xft:DejaVu Sans Mono:size=10
URxvt.boldFont: xft:Source Code Pro:bold:size=10

URxvt.perl-ext-common: default,clipboard,url-select

*.URxvt.urgentOnBell: true
URxvt.url-select.launcher: chromium
URxvt.url-select.underline: true

URxvt.keysym.M-u: perl:url-select:select_next
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search

URxvt.copyCommand:  xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard

URxvt.autohide: yes
URxvt.new-button: no

URxvt.scrollBar: false
URxvt.internalBorder: 1
URxvt.foreground: #eeeeee
URxvt.background: #1D1F21
URxvt.depth: 32

URxvt*colorIT: #ffffff

URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste

/* rofi */
rofi.background: #1d1f21
rofi.foreground: #c5c8c6
rofi.highlightbg: #81a2be
rofi.highlightfg: #1d1f21
xterm*dynamicColors: true
urxvt*dynamicColors: on
rofi.bordercolor: #81a2be
rofi.font: Source Code Pro Medium 9
rofi.padding: 5
rofi.lines: 5
rofi.borderwidth: 1
rofi.width: 30
rofi.location: 0
rofi.yoffset: 0
