URxvt.font: xft:Source Code Pro for Powerline:size=10

URxvt.perl-ext-common: default,clipboard,url-select,tabbedex
*.URxvt.urgentOnBell: true
URxvt.url-select.launcher: chromium
URxvt.url-select.underline: true

URxvt.keysym.M-u: perl:url-select:select_next
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search

URxvt.copyCommand:  xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard

URxvt.keysym.M-c:   perl:clipboard:copy
URxvt.keysym.M-v:   perl:clipboard:paste

URxvt.autohide: yes
URxvt.new-button: no
 
URxvt.scrollBar: false

URxvt.foreground: #eeeeee
URxvt.background: #1D1F21
URxvt.depth: 32

